* {
    --cor-preto: #1E1E1E;
    --cor-cinza: #F1F1F1;
    --cor-branco: #FFFFFF;
    --cor-roxo: #7E74F1;
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    color: var(--cor-branco);
    background-color: var(--cor-preto);
    font-family: Arial;
    line-height: 1.2;
    border-radius: 5px;
    scroll-behavior: smooth;
    text-decoration: none;
}

/* Header */
header {
    
    width: 100%;
    height: 3.5rem;
    background-color: var(--cor-preto);
}

.span-title-name {
    color: var(--cor-roxo);
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 10px;
    background-color: var(--cor-preto);

}

.nav-itemList {
    display: flex;
    background-color: var(--cor-preto);
    
}



.title-name {
    font-size: 32px;
}

nav li a{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
nav a:hover {
    transition: 0.4s;
    color: var(--cor-roxo);
    text-transform: capitalize;
}

/* Header */

/* Body */

main{
    padding-top: 1px;
    margin-bottom: 200px;
}

.title-text-hero{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.intro-title{
    margin-bottom: 35px;
    color: #656D72;
    font-weight: 500;
}
.main-title{
    margin-bottom: 35px;
    font-weight: bold;
}
.span-main-title {
    color: var(--cor-roxo);
}
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.fa-instagram:hover{
    color: rgb(255, 52, 177);
    transition: 0.5s;
    transform: scale(1.4);
}
.fa-linkedin:hover{
    color: #0a66c2;
    transition: 0.5s;
    transform: scale(1.4);
}
.fa-github:hover{
    color: rgb(56, 53, 55);
    transition: 0.5s;
    transform: scale(1.4);
}

.text-description {
    margin-bottom: 50px;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 18px;
}

.services {
    width: 300px;
    height: 250px;
    background: var(--cor-cinza);
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}
.services:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.main-services{
    padding: 10px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px;

}
.name-service {
    background-color: var(--cor-cinza);
    color: #232E35;
    font-weight: 700;
}

.text-service{
    background-color: var(--cor-cinza);
    color: #232E35;
    font-weight: 500;
    text-align: center;
}
.text-portfolio{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    margin: 10px;
}
.projects{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.projects img {
    display: flex;
    align-items: center;
}
.align-title-port{
    
    
}
.fa-circle-chevron-left {
    font-size: 2.7em;
    
}
.fa-circle-chevron-left:hover {
    transform: scale(1.2);
    transition: 0.3s;
    color: var(--cor-roxo);
}
.fa-circle-chevron-right {
    font-size: 2.7em;
    
}
.fa-circle-chevron-right:hover {
    transform: scale(1.2);
    transition: 0.3s;
    color: var(--cor-roxo);
}

.img-rotate:hover img{
    transform: scale(1.1) rotate(5deg);
    transition: 0.5s;
}

/* Estilo padrão da seção main-services */
.main-services {
    display: flex;
    flex-wrap: wrap;
}

.main-services{
    display: flex;
    flex-wrap: wrap;
}

.services {
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Altera o estilo da seção main-services em telas menores que 600px */
@media (max-width: 750px) {
    .main-services {
        flex-wrap: nowrap;
        overflow-x: auto;
        flex-direction: column;
    }
    .services {
        width: 100%;
        height: 300px;
        margin: 20px;
    }
}

/* Estilo padrão da div services */
.services {
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
}
/* Esconde todas as imagens do carrossel */
#projects img {
    display: none;
}

/* Exibe a imagem atual */
#projects img.active {
    display: block;
}

@media (min-width: 750px){
    .services {
        width: 20%;
        
    }
}
.contact-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.contact-form{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    
}
/* Estilo para o título da seção de contato */
.contact-section h2 {
    color: #fff; /* Cor branca para o título */
    text-align: center;
    font-size: 2.5em; /* Tamanho da fonte maior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para o título */
}

/* Estilo para o formulário de contato */
.contact-form {
    
    padding: 20px;
    border-radius: 10px;
    
}

/* Estilo para os elementos do formulário */
.contact-form label,
.contact-form input,
.contact-form textarea {
    color: #fff; /* Cor branca para os elementos do formulário */
    
    margin-bottom: 10px;
}
.contact-form label{
    color: white;
    font-weight: bold;
}
.contact-form input{
    
    width: 20%;
    background-color: #FFFFFF;
    color: black;
    padding: 5px;
}
.contact-form textarea{
    background-color: white;
    color: black;
}

/* Estilo para o botão de envio */
.contact-form input[type="submit"] {
    background-color: #7E74F1; /* Cor azul para o botão */
    color: #fff; /* Cor branca para o texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

/* Estilo para as informações de contato */
.contact-info {
    
    padding: 20px;
    border-radius: 10px;
    
    text-align: center;
    align-items: center;
}

/* Estilo para os ícones de contato */
.contact-info i {
    color: #7E74F1; /* Cor azul para os ícones */
    margin-right: 10px;
    
}

textarea {
    width: 300px;
    height: 100px;
    max-width: 300px;
    overflow: auto;
    resize: none;
}
.button-send{
    height: 50px;
    margin-top: 35px;
    min-width: 20%;
}
